<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Das Tag &lt;b&gt ist ein physisches Tag. Es wird für fettiges Aufzeichnen der Schrift verwendet und hebt den Text ohne Betonung seiner Wichtigkeit hervor, während das Tag &lt;strong&gt; seine besondere Wichtigkeit hervorhebt.

    </p>
    <p>Wir haben das Tag &lt;strong&gt; verwendet, um <strong> diesen wichtigen Teil des Textes</strong> zu betonen.</p>
<p>Wir haben das Tag &lt;b&gt; verwendet, um <b> diesen wichtigen Teil des Textes</b> zu betonen.</p>
<p>Wichtiges Fragment des Textes wird <em>durch kursive Schrift</em> hervorgehoben.</p>
<br>
<pre><h3>Leerzeichen
                                und Zeilenumbrüche
    innerhalb dieses Elements 
sind angezeigt.</h3>        
</pre>
<p>Lernen Sie HyperText Markup Language mit <mark>Das Tag <mark> bestimmt den hervorgehobenen / eingeblendeten Text. Visuell sieht der Inhalt des Tages wie vom gelben Marker bemerkt aus.</mark>.</p>
<p>Ein Beispiel des Tages SMALL.   Prozentsatz beträgt 10%*</p>
    <small>* - pro Tag</small> /
    <p>Das Tag SMALL <small> bestimmt die Schriftgröße des Textes auf eine Größe kleiner, als beim Elternelement. In HTML5 wird das Tag für die Speicherung der Information von Urheberrechte sowie für die Bestimmung der kleinen oder juristischen Schrift verwendet.</small></p>
    <p>Das Tag DEL hebt den Textteil, der vom Dokument gelöscht wurde, hervor.<br><del> Sie mag violette</del> Schneeglöckchen․</p>
    <p>Das Tag -S- wird für die Bestimmung des Textes, der nicht mehr aktuell ist, verwendet.</p>
    <p><s>Ich studiere in der Highschool.</s></p>
    <p>Ich studiere an einer Universität.</p>
    <p>Das Tag -INS- bestimmt den Textteil, der zum Dokument hinzugefügt wurde.</p>

      
    -DEL- + -INS- <p>Sie mag <del>violette</del> <ins>lilarosa</ins> schneeglöckchen․</p>

        <p>Hier haben wir das Tag <u> &lt;u&gt; (Im Tag wird der Text, der sich stilistisch vom übrigen Text unterscheidet, eingeschlossen)</u> verwendet.</p>
        
        <br>-SUB- und -SUP-
        <p>Die Formel des Wassers ist H<sub>2</sub>O,  die Formel des Spiritus ist C<sub>2</sub>H<sub>5</sub>ОН </p>
    <p>E = mc<sup>2</sup>, wo E — die Energie des Objekts, m — seine Masse, c — Lichtgeschwindigkeit ist. </p>
    
    <br>-DFN-<p><dfn>HTML (eng. HyperText Markup Language — «Hypertext-Auszeichnungssprache») </dfn>— Die standardisierte Auszeichnungssprache der Dokumente im Weltnetz. Die meisten Webseiten enthalten die Beschreibung der Markierung auf der Sprache HTML.</p>
<br>  

<h1>Fußball</h1>
<p>
Fußball ist eine Ballsportart, bei der zwei Mannschaften mit dem Ziel gegeneinander antreten</p>
<hr>
<h1>Basketball</h1>
<p>Basketball ist eine Ballsportart, bei der zwei Mannschaften versuchen, den Ball in den jeweils gegnerischen Korb zu werfen</p>
<p>In HTML5 wird das Tag -HR- <hr>  für die thematische Unterteilung des Contents auf der Seite verwendet. </p>

&#8704; Symbol







      
</body>
</html>